*.pyc
._*
django.fcgi
.pip
runfcgi.pid
*.swp

.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.ssh/
.viminfo
.lesshst
.python-eggs/
.sudo_as_admin_successful
.vim

pip-log.txt
nosetests.xml
coverage.xml

env_*
.TemporaryItems
.cache
.bash*
.profile
log
.DS_Store


